
<div class="mobile-menu__wrapper">
    <button class="close-btn">
        <svg height="15px" version="1.1" viewBox="0 0 15 15" width="15px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
          <g fill-rule="evenodd" fill="none" id="Mobile" stroke-width="1" stroke="none">
            <g fill-rule="nonzero" fill="#F5F5F5" id="Menu" transform="translate(-353.000000, -7.000000)">
              <g id="Close" transform="translate(345.000000, 0.000000)">
                <path d="M17.7310403,14.5002289 L22.7809907,19.5492181 C23.0730031,19.8417339 23.0730031,20.3156189 22.7809907,20.607677 L21.607677,21.7809907 C21.3151611,22.0730031 20.8412762,22.0730031 20.5492181,21.7809907 L15.4997711,16.731498 L10.4507819,21.7814485 C10.1582661,22.0734609 9.68438115,22.0734609 9.39232302,21.7814485 L8.21900926,20.6081347 C7.92699691,20.3156189 7.92699691,19.8417339 8.21900926,19.5496758 L13.268502,14.5002289 L8.21900926,9.45078195 C7.92699691,9.15826605 7.92699691,8.68433537 8.21900926,8.39232302 L9.39186525,7.21946703 C9.68438115,6.92745468 10.1582661,6.92745468 10.4503242,7.21946703 L15.4997711,12.2689597 L20.5487603,7.21900926 C20.8412762,6.92699691 21.3151611,6.92699691 21.6072192,7.21900926 L22.780533,8.39232302 C23.0725453,8.68483892 23.0725453,9.15872383 22.780533,9.45078195 L17.7310403,14.5002289 Z" id="icon-close"></path>
              </g>
            </g>
          </g>
        </svg>
      </button>

    <ul class="mobile-menu__wrapp">
        {% for link in linklists[menu].links %}
            {%- if link.links != blank -%}
            {%- assign has_dropdown = true -%}
            {%- endif -%}  

           {%- if has_dropdown -%}
            <li class="mobile-menu__item mobile-menu__label-{{link.levels}} {% if link.active or link.current or link.child_active %}active_link {% endif %}">
              
              <a href="{{ link.url }}" class="mobile-menu__link">{{ link.title }}  {% if  link.links != blank  %}  <span class="arrow-btn"><svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.1613 1.44348C12.101 1.38302 12.0293 1.33505 11.9504 1.30232C11.8716 1.26959 11.787 1.25275 11.7016 1.25275C11.6162 1.25275 11.5317 1.26959 11.4528 1.30232C11.3739 1.33505 11.3023 1.38302 11.242 1.44348L6.50786 6.17889L1.77375 1.44348C1.65184 1.32157 1.4865 1.25309 1.3141 1.25309C1.1417 1.25309 0.976361 1.32157 0.854455 1.44348C0.732549 1.56539 0.664063 1.73073 0.664062 1.90313C0.664063 2.07553 0.732549 2.24087 0.854455 2.36277L6.04821 7.55653C6.10852 7.61699 6.18016 7.66496 6.25904 7.69769C6.33791 7.73042 6.42247 7.74727 6.50786 7.74727C6.59326 7.74727 6.67781 7.73042 6.75669 7.69769C6.83556 7.66496 6.9072 7.61699 6.96751 7.55653L12.1613 2.36277C12.2217 2.30247 12.2697 2.23083 12.3024 2.15195C12.3352 2.07308 12.352 1.98852 12.352 1.90313C12.352 1.81773 12.3352 1.73318 12.3024 1.6543C12.2697 1.57543 12.2217 1.50379 12.1613 1.44348Z" fill="#11181F"/>
                </svg>
                </span>     {%- endif -%} </a>
             {% if  link.links != blank  %}
              <ul class="mobile-menu__sub-menu">
                {%- for childlink in link.links -%}
                {%- if childlink.links != blank -%}
                <li>
                  <a href="{{ childlink.url }}" class="menu-title-link">  {{ childlink.title }}</a>
                  <ul class="mobile-menu__nested-menu">
                    {%- for grandchild in childlink.links -%}
                    <li><a class="sub-menu-item" href="{{ grandchild.url }}">{{ grandchild.title }}</a></li>
                    {%- endfor -%}
                  </ul>
                </li>
                {%- else -%}
                <li><a  href="{{ childlink.url }}"><span>{{ childlink.title }}</span></a></li>
                {%- endif -%}
                {%- endfor -%}
                </ul>
              {% endif %}
          </li>

            {%- else -%}
            <li class="mobile-menu__item {% if link.active or link.current or link.child_active %}active_link {% endif %}"><a href="{{ link.url }}" class="menu-link">{{ link.title }}</a></li>
          {%- endif -%}
          {% endfor %}
    </ul>
</div>
