<form action="{{ routes.search_url }}" method="get" class="search-form search-form-{{ section.id }} {{ search_class }}" role="search">
  <input type="hidden" name="options[unavailable_products]" value="show" />
  <input type="hidden" name="options[prefix]" value="last" />
  <input name="q" type="text" class="search-field eight" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}"/>
  <button type="submit" class="search-button">Search</button>
</form>