<div class="container bottompad-section clearfix">
  <div class="twelve">
    <h1>{{ 'customer.reset_password.title' | t }}</h1>
    <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
  </div>
  <div class="six">

    {% form 'reset_customer_password' %}
    {{ form.errors | default_errors }}

    <span id="password" class="form">
      <label for="customer_password">{{ 'customer.reset_password.password' | t }}</label>
      <input type="password" value="" name="customer[password]" id="customer_password" placeholder="{{ 'customer.reset_password.password' | t }}" />
    </span>

    <span id="password_confirm" class="form">
      <label for="customer_password_confirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
      <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" placeholder="{{ 'customer.reset_password.password_confirm' | t }}" />
    </span>

    <span>
      <button class="btn" type="submit">{{ 'customer.reset_password.submit' | t }}</button>
    </span>
    {% endform %}

  </div>
</div>