<div data-section-id="{{ section.id }}" 
     data-section-type="instagram"
     id="instagram -{{ section.id }}"
     class="instagram  clearfix">

  <div class='container'>
    {% if section.settings.title != blank %}
    <h3>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14px" height="14px" viewBox="0 0 14 14" version="1.1">
        <!-- Generator: sketchtool 54.1 (76490) - https://sketchapp.com -->
        <title>8B48B64C-6D03-4849-AC49-60E002FBFF49@2x</title>
        <desc>Created with sketchtool.</desc>
        <defs>
          <polygon id="path-1" points="1.38888889e-05 0.00440204506 13.9955833 0.00440204506 13.9955833 13.9448819 1.38888889e-05 13.9448819"/>
        </defs>
        <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Product-Detail" transform="translate(-1125.000000, -5182.000000)">
            <g id="Footer" transform="translate(0.000000, 5117.000000)">
              <g id="Social-&amp;-Subscribe" transform="translate(135.000000, 39.000000)">
                <g id="Social" transform="translate(926.000000, 13.000000)">
                  <g id="icon-instagram" transform="translate(64.000000, 13.000000)">
                    <g id="Group-3">
                      <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"/>
                      </mask>
                      <g id="Clip-2"/>
                      <path d="M6.99779167,0.00440204506 C5.09731944,0.00440204506 4.85898611,0.0124258858 4.112625,0.0463473644 C3.36776389,0.0801858377 2.85909722,0.198025623 2.41395833,0.370344521 C1.95381944,0.548446118 1.56354167,0.786781857 1.17451389,1.17427803 C0.785458333,1.56180187 0.546208333,1.95051545 0.367375,2.40884277 C0.194375,2.85222914 0.0760972222,3.35889319 0.0420972222,4.10082177 C0.00804166667,4.84427212 1.38888889e-05,5.0816118 1.38888889e-05,6.97462952 C1.38888889e-05,8.86764723 0.00804166667,9.10501458 0.0420972222,9.84846493 C0.0760972222,10.5903658 0.194375,11.0970576 0.367375,11.5404163 C0.546208333,11.9987436 0.785458333,12.3874848 1.17451389,12.774981 C1.56354167,13.1625048 1.95381944,13.4008129 2.41395833,13.5789698 C2.85909722,13.7512611 3.36776389,13.8691009 4.112625,13.902967 C4.85898611,13.9368608 5.09731944,13.9448847 6.99779167,13.9448847 C8.89829167,13.9448847 9.13656944,13.9368608 9.88295833,13.902967 C10.6278194,13.8691009 11.1364861,13.7512611 11.581625,13.5789698 C12.0417917,13.4008129 12.4320417,13.1625048 12.8210694,12.774981 C13.210125,12.3874848 13.449375,11.9987712 13.6282083,11.5404163 C13.8012083,11.0970576 13.9195139,10.5903658 13.9534861,9.84846493 C13.9875417,9.10501458 13.9955972,8.86764723 13.9955972,6.97462952 C13.9955972,5.08163947 13.9875417,4.84427212 13.9534861,4.10082177 C13.9195139,3.35889319 13.8012083,2.85222914 13.6282083,2.40884277 C13.449375,1.95051545 13.210125,1.56180187 12.8210694,1.17427803 C12.4320417,0.786781857 12.0417917,0.548446118 11.581625,0.370344521 C11.1364861,0.198025623 10.6278194,0.0801858377 9.88295833,0.0463473644 C9.13656944,0.0124258858 8.89829167,0.00440204506 6.99779167,0.00440204506 M6.99779167,1.26029914 C8.86629167,1.26029914 9.08759722,1.26738225 9.82548611,1.30091637 C10.5077639,1.33193267 10.8782917,1.44548385 11.124875,1.54093988 C11.4515139,1.66738455 11.6846528,1.81842643 11.9295139,2.06232352 C12.174375,2.30624828 12.3260139,2.53844163 12.4529861,2.86379454 C12.5487917,3.10940708 12.6627917,3.47847608 12.6939306,4.15806773 C12.7275694,4.89305154 12.7347083,5.11351348 12.7347083,6.97462952 C12.7347083,8.83577322 12.7275694,9.05623516 12.6939306,9.79119131 C12.6627917,10.4708106 12.5487917,10.8398796 12.4529861,11.0854922 C12.3260139,11.4108174 12.174375,11.6430384 11.9295139,11.8869355 C11.6846528,12.1308603 11.4515139,12.2819022 11.124875,12.4083468 C10.8782917,12.5037752 10.5077639,12.617354 9.82548611,12.6483427 C9.08770833,12.6818768 8.86643056,12.6889876 6.99779167,12.6889876 C5.12915278,12.6889876 4.907875,12.6818768 4.17009722,12.6483427 C3.48781944,12.617354 3.11726389,12.5037752 2.87068056,12.4083468 C2.54406944,12.2819022 2.31093056,12.1308603 2.06606944,11.8869355 C1.82120833,11.6430384 1.66954167,11.4108174 1.54259722,11.0854922 C1.44679167,10.8398796 1.33279167,10.4708106 1.30165278,9.79121897 C1.26798611,9.05623516 1.260875,8.83577322 1.260875,6.97462952 C1.260875,5.11351348 1.26798611,4.89305154 1.30165278,4.15806773 C1.33279167,3.47847608 1.44679167,3.10940708 1.54259722,2.86379454 C1.66954167,2.53844163 1.82120833,2.30624828 2.06606944,2.06235119 C2.31093056,1.81842643 2.54406944,1.66738455 2.87068056,1.54093988 C3.11726389,1.44548385 3.48781944,1.33193267 4.17006944,1.30091637 C4.90798611,1.26738225 5.12929167,1.26029914 6.99779167,1.26029914" id="Fill-1" fill="#FFFFFF" mask="url(#mask-2)"/>
                    </g>
                    <path d="M7.02768189,9.32559892 C5.7382203,9.32559892 4.69287698,8.28437112 4.69287698,6.99998615 C4.69287698,5.71560119 5.7382203,4.67440108 7.02768189,4.67440108 C8.31714347,4.67440108 9.36248679,5.71560119 9.36248679,6.99998615 C9.36248679,8.28437112 8.31714347,9.32559892 7.02768189,9.32559892 M7.02768189,3.41732283 C5.04120427,3.41732283 3.43083004,5.02132931 3.43083004,6.99998615 C3.43083004,8.97867069 5.04120427,10.5826772 7.02768189,10.5826772 C9.0141595,10.5826772 10.6245059,8.97867069 10.6245059,6.99998615 C10.6245059,5.02132931 9.0141595,3.41732283 7.02768189,3.41732283" id="Fill-4" fill="#FFFFFF"/>
                    <path d="M11.5652174,3.2519685 C11.5652174,3.7085937 11.193614,4.07874016 10.7351916,4.07874016 C10.2767691,4.07874016 9.90513834,3.7085937 9.90513834,3.2519685 C9.90513834,2.79534331 10.2767691,2.42519685 10.7351916,2.42519685 C11.193614,2.42519685 11.5652174,2.79534331 11.5652174,3.2519685" id="Fill-6" fill="#FFFFFF"/>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </svg>
      {{ 'general.instagram.follow_us' | t }}<a href='https://www.instagram.com/{{ section.settings.title }}'> @{{ section.settings.title }}</a>
    </h3>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Instargam",
    "settings": [
	{
	"type":"text",
	"id":"title",
	"label":"Title"
	}
	],
    "presets": [
      {
        "name": "Instargam",
        "category": "Custom Section"
      }
    ]
  }
{% endschema %}
