{%- assign full_width = section.settings.full_width -%}

{% if section.settings.api_key != blank and section.settings.map_address != blank %}
{%- assign section_onboarding = false -%}
{% else %}
{%- assign section_onboarding = true -%}
{% endif %}
{% if section.settings.background_img != blank %}
{%- assign img_src = section.settings.background_img -%}
{% include 'image-background-src' %}
{%- assign img_size = '1x' -%}
{% endif %}

<div data-section-id="{{ section.id }}" 
     {% unless section_onboarding %}data-section-type="home-map"{% endunless %} 
     data-section-key="{{ section.settings.api_key }}"
     class="{% if full_width and section.settings.include_color != 'color-none' %}background-colored {{ section.settings.include_color }} {% if section.settings.title != blank or section.settings.body != blank %}colored-bottom{% endif %}{% endif %}{% if section.settings.include_color == 'color-none' %} {% if section.settings.title != blank or section.settings.body != blank %}margins-bottom-section{% endif %}{% endif %} {% if settings.animation_enable %}animate-section-div {% endif %}clearfix">
  
  {% if full_width %}      
  <div class="content-height-{{ section.id }} {% if section_onboarding %}placeholder-svg-background {% endif %}background-cover lazyload{% if section.settings.title != blank or section.settings.body != blank %} bottompad{% endif %}"
       {% if section.settings.background_img != blank %}
       data-bgset="{{ image_data | strip }}"
       data-sizes="auto"
       style="background:url({{ img_src | img_url: img_size }}) center center no-repeat;"
       {% endif %}>
    {% if section.settings.background_img != blank %}
    <noscript>
      <div class="no-js-bg background-cover content-height-{{ section.id }}" style="background:url({{ img_src | img_url: '1900x' }}) center center no-repeat;"></div>
    </noscript>
    {% endif %}
    
    {% if section_onboarding == false %}
    <div class="map-container no-background content-height-{{ section.id }}">
      <div class="fancybox-loading"></div>
      <div id="map-{{ section.id }}" 
           class="content-height-{{ section.id }} map-box" 
           data-section-address="{{ section.settings.map_address }}"
           data-section-zoom="{{ section.settings.map_zoom }}"></div>
    </div>
    {% endif %}
  </div>
  {% endif %}
  
  <div class="container clearfix">
    <div{% if full_width == false %} class="twelve"{% endif %}>
      <div class="tab-body{% if full_width == false and section.settings.include_color != 'color-none' %} background-colored {{ section.settings.include_color }} {% if section.settings.title != blank or section.settings.body != blank %}colored-bottom{% endif %}{% endif %}">

        {% if full_width == false %}
          <div class="map-container no-background content-height-{{ section.id }} {% if section_onboarding %}placeholder-svg-background white {% endif %}background-cover lazyload clearfix{% if section.settings.title != blank or section.settings.body != blank %} bottompad{% endif %}"
               {% if section.settings.background_img != blank %} 
               data-bgset="{{ image_data | strip }}"
               data-sizes="auto"
               style="background:url({{ img_src | img_url: img_size }}) center center no-repeat;"
               {% endif %}>
            {% if section.settings.background_img != blank %}
            <noscript>
              <div class="no-js-bg background-cover content-height-{{ section.id }}" style="background:url({{ img_src | img_url: '1200x' }}) center center no-repeat;"></div>
            </noscript>
            {% endif %}
            <div class="content-height-{{ section.id }}">
              {% unless section_onboarding %}
              <div class="fancybox-loading"></div>
              <div id="map-{{ section.id }}" 
                   class="content-height-{{ section.id }} map-box" 
                   data-section-address="{{ section.settings.map_address }}"
                   data-section-zoom="{{ section.settings.map_zoom }}"></div>
              {% endunless %}
            </div>
          </div>
        {% endif %}

        {% if section.settings.title != blank or section.settings.body != blank %}
        <div class="tab-body{% if full_width == false %} twelve{% endif %}{% if settings.animation_enable %} animate-section load{% endif %}">
          <div class="map-body six animate background-white needed text-center center">
            <div class="no-img">
              {% if section.settings.title != blank %}<h3>{{ section.settings.title | escape }}</h3>{% endif %}
              {% if section.settings.body != blank %}{{ section.settings.body }}{% endif %}
            </div>
          </div>
        </div>
        {% endif %}

      </div>
    </div>
  </div>

</div>

<style>
  .content-height-{{ section.id }}{height:{{ section.settings.padding }}vh;min-height:{{ section.settings.padding }}vh; {% if section.settings.title != blank or section.settings.body != blank %}margin-bottom:-{{ section.settings.padding | divided_by: 4 }}vh{% endif %}}
</style>

{% schema %}
  {
    "name": "Map",
    "settings": [
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Map"
      },
      {
        "type": "richtext",
        "id": "body",
        "label": "Address and hours",
        "default": "<p><strong>Location</strong> 123 Any St. | Virginia Beach, VA 23456</p><p><strong>Hours</strong> M - F: 8a - 7p | Sa - Su: 10a - 8p</p>"
      },
      {
        "type": "text",
		"id": "map_address",        
        "label": "Map address",
        "info": "Google Maps will find the exact location"
      },
      {
        "type": "header",
        "content": "Background"
      },
      {
        "id": "api_key",
        "type": "text",
        "label": "Google Maps API key",
        "info": "You'll need to [register a Google Maps API Key](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) to display the map"
      },
      {
        "type": "range",
        "id": "map_zoom",
        "min": 1,
        "max": 22,
        "step": 1,
        "label": "Zoom",
        "default": 16
      },
      {
        "type": "image_picker",
        "id": "background_img",
        "label": "Image",
        "info": "1900px recommended.  Displayed if the map isn't loaded properly"
      },
      {
       "type": "checkbox",
       "id": "full_width",
       "label": "Full width",
       "default": true
      },
      {
        "type": "range",
        "id": "padding",
        "min": 25,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Height",
        "default": 35
      },
	  {
        "type": "select",
        "id": "include_color",
        "label": "Background color",
        "default": "color-none",
        "options": [
          {
            "value": "color-primary",
            "label": "Primary"
          },
          {
            "value": "color-secondary",
            "label": "Secondary"
          },
          {
            "value": "color-none",
            "label": "None"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Map",
        "category": "Store information"
      }
    ]
  }
{% endschema %}