{%- assign full_width = section.settings.full_width -%}

<div data-section-id="{{ section.id }}" 
     data-section-type="home-slideshow"
     id="slideshow-{{ section.id }}"
     class="{% if section.blocks.size > 1 %}swiper-enabled {% endif %}{% if settings.animation_enable %}animate-section-div {% endif %}clearfix">
  
  <div class="tab-body">

    <div{% if section.blocks.size > 1 %} id="slideshow-carousel-{{ section.id }}" data-swiper-autorotate="{% if section.settings.auto_rotate %}true{% else %}false{% endif %}" class="swiper-container"{% endif %}>
      <div{% if section.blocks.size > 1 %} class="swiper-wrapper swiper-wrapper-{{ section.id }}"{% endif %}>

        {% if section.blocks.size == 0 %}
        <div class="container{% if settings.animation_enable %} animate-section load{% endif %} clearfix">
          <div class="table content-height-{{ section.id }}">
            <div class="table-cell">
              <div class="six animate text-center center">
                <h2 class="h1 {% if section.settings.use_text_shadow %}with_shadow{% endif %}">{{ 'homepage.onboarding.slide_no_title' | t }}</h2>
                <h3>{{ 'homepage.onboarding.no_body' | t }}</h3>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

        {% for block in section.blocks %}

        {% if block.settings.title != blank or block.settings.sub_title != blank or block.settings.body or block.settings.link != blank or block.settings.use_background_img and block.settings.background_img != blank %}
        {%- assign section_onboarding = false -%}
        {% else %}
        {%- assign section_onboarding = true -%}
        {% endif %}

        {% if block.settings.use_background_img and block.settings.background_img != blank %}
        {%- assign img_src = block.settings.background_img -%}
        {%- assign img_mobi_src = block.settings.mobi_background_img -%}
        {% include 'image-background-src' %}
        {%- assign img_size = '1x' -%}
        {% endif %}
<!-- background image and text positioning styles -->
{% if block.settings.mobi_background_img != blank %}
<style>
body.white_header #shopify-section-header:not(.sticky_header) .header-navigation .main-menu nav .responsiveMenu>li>a,
body.white_header .customer-links ul li.cart-info span {
  color:#000;
}
#slideshow-{{ section.id }} .background-cover.desk {
  background:url({{ img_src | img_url: img_size }});
}
#slideshow-{{ section.id }} .background-cover.mobi {
  background:url({{ img_mobi_src | img_url: img_size }});
  background-image: url('{{ img_mobi_src | img_url: '800x' }}');
}
@media only screen and (min-width: 601px) {
  #slideshow-{{ section.id }} .background-cover.mobi {
    display:none;
  }
  #slideshow-{{ section.id }} {
    margin-top:128px;
  }
}
@media only screen and (max-width: 600px) {
  #slideshow-{{ section.id }} .background-cover.desk {
    display:none;
  }
  #header-navigation .table .main-menu .main_menu_wrapper nav .customer-links ul li span.icon {
      color: #000;
  }
  body #shopify-section-header header {
      background: #fff;
      box-shadow: 0 4px 4px #0000001a;
      color:#000;
  }
  #slideshow-{{ section.id }} .background-cover.mobi {
    margin-top:79px;
  }
  .white_img {
      display: none!important;
  }
  .black_img {
      display: block!important;
  }
}
</style>
{% endif %}
        <div class="{% if section.blocks.size > 1 %}swiper-slide {% endif %}tab-body" {{ block.shopify_attributes }}{% if section.blocks.size > 1 %} data-swiper-autoplay="{{ section.settings.auto_rotate_every | times: 1000 }}"{% endif %}>          
          <!-- START desk img --><!-- {{ img_src }} -->
          <div{% if full_width %} class="{% if block.settings.use_background_img and block.settings.background_img == blank %}placeholder-svg-background {% endif %}background-cover lazyload desk"{% endif %}
               {% if full_width and block.settings.use_background_img and block.settings.background_img != blank %} 
               data-bgset="{{ image_data | strip }}"
               data-sizes="auto"
               style="{% comment %} background:url({{ img_src | img_url: img_size }}) {% endcomment %} center center no-repeat;"
               {% endif %}>
            {% if full_width and block.settings.use_background_img and block.settings.background_img != blank %}
            <noscript>
              <div class="no-js-bg background-cover content-height-{{ section.id }}" style="background:url({{ img_src | img_url: '1900x' }}) center center no-repeat;"></div>
            </noscript>
            {% endif %}
            {% if block.settings.title == blank and block.settings.sub_title == blank %}
              <a href="{{ block.settings.link | escape }}"><img style="width:100%;" src="{{ img_src | img_url: '1900x' }}" /></a>
            {% else %}
            <div class="relative{% if full_width %} background-overlay background-overlay-{{ block.id }}{% endif %}">
              <div class="container clearfix">

                {%- assign block_width = block.settings.block_width | downcase -%}
                {% case block_width %}
                {% when '4' %}
                {%- assign block_width = 'four' -%}
                {% when '6' %}
                {%- assign block_width = 'six' -%}
                {% when '8' %}
                {%- assign block_width = 'eight' -%}
                {% when '9' %}
                {%- assign block_width = 'nine' -%}
                {% endcase %}

                <div{% if full_width == false %}{% if block.settings.use_background_img or block.settings.background_img_overlay != blank and block.settings.background_img_overlay_opacity > 0 %} class="twelve"{% endif %}{% endif %}>
                  <div class="{% if full_width == false %}{% if block.settings.use_background_img and block.settings.background_img == blank %}placeholder-svg-background {% endif %}background-cover lazyload {% endif %}{% if block.settings.font_color %}{% if block.settings.use_background_img or block.settings.background_img_overlay != blank and block.settings.background_img_overlay_opacity > 0 %}white {% endif %}{% endif %}clearfix"
                       {% if full_width == false and block.settings.use_background_img and block.settings.background_img != blank %} 
                       data-bgset="{{ image_data | strip }}"
                       data-sizes="auto"
                       style="background:url({{ img_src | img_url: img_size }}) center center no-repeat;"
                       {% endif %}>
                    {% if full_width == false and block.settings.use_background_img and block.settings.background_img != blank %}
                    <noscript>
                      <div class="no-js-bg background-cover content-height-{{ section.id }}" style="background:url({{ img_src | img_url: '1200x' }}) center center no-repeat;"></div>
                    </noscript>
                    {% endif %}                  
                    <div class="table content-height-{{ section.id }}{% if settings.animation_enable %} animate-section load{% endif %}{% if full_width == false %} relative{% endif %}{% if full_width == false %}{% if block.settings.use_background_img or block.settings.background_img_overlay != blank and block.settings.background_img_overlay_opacity > 0 %} twelve background-overlay background-overlay-{{ block.id }}{% endif %}{% endif %}">
                      {% if block.settings.link != blank and block.settings.button == blank %}<a href="{{ block.settings.link | escape }}" title="{% if block.settings.title != blank %}{{ block.settings.title | escape }}{% else %}{{ 'homepage.onboarding.no_more' | t }}{% endif %}" class="absolute"></a>{% endif %}
                      {% if section_onboarding or block.settings.title != blank or block.settings.sub_title != blank or block.settings.body != blank or block.settings.link != blank and block.settings.button != blank %}
                      <div class="table-cell">
                        <div class="{{ block_width }} mobile animate {{ block.settings.text_alignment}} {{ block.settings.content_alignment }}{% if section.blocks.size > 1 %} bottompad{% endif %}">
                          {% if section_onboarding %}
                          <h2>{{ 'homepage.onboarding.no_title' | t }}</h2>
                          <h3>{{ 'homepage.onboarding.no_body' | t }}</h3>
                          {% else %}
                          {% if block.settings.title != blank %}<h1 class="h1 {% if section.settings.use_text_shadow %}with_shadow{% endif %}">{{ block.settings.title | escape }}</h1>{% endif %}
                          {% if block.settings.sub_title != blank %}<h4 class='h3'>{{ block.settings.sub_title | escape }}</h4>{% endif %}
                          {% if block.settings.body != blank %}{{ block.settings.body }}{% endif %}
                          {% if block.settings.link != blank %}<a href="{{ block.settings.link | escape }}" title="{% if block.settings.title != blank %}{{ block.settings.title | escape }}{% else %}{{ 'homepage.onboarding.no_more' | t }}{% endif %}" class="btn{% if block.settings.outline_button %} outline{% endif %}{% if section.blocks.size == 1 %} bottompad{% endif %}">{% if block.settings.button != blank %}{{ block.settings.button | escape }}{% else %}{{ 'homepage.onboarding.no_more' | t }}{% endif %}</a>{% endif %}
                          {% endif %}
                        </div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
          {% if block.settings.mobi_background_img != blank %}
          <!-- START mobile img --><!-- {{ img_mobi_src }} -->
          <div{% if full_width %} class="{% if block.settings.use_background_img and block.settings.background_img == blank %}placeholder-svg-background {% endif %}background-cover lazyload mobi"{% endif %}
               {% if full_width and block.settings.use_background_img and block.settings.background_img != blank %} 
               data-bgset="{{ mobi_image_data | strip }}"
               data-sizes="auto"
               style="{% comment %} background:url({{ img_mobi_src | img_url: img_size }}) {% endcomment %} center center no-repeat;"
               {% endif %}>
            {% if full_width and block.settings.use_background_img and block.settings.background_img != blank %}
            <noscript>
              <div class="no-js-bg background-cover content-height-{{ section.id }}" style="background:url({{ img_mobi_src | img_url: '800x' }}) center center no-repeat;"></div>
            </noscript>
            {% endif %}
            {% if block.settings.title == blank and block.settings.sub_title == blank %}
              <a href="{{ block.settings.link | escape }}"><img src="{{ img_mobi_src | img_url: '800x' }}" /></a>
            {% else %}
            <div class="relative{% if full_width %} background-overlay background-overlay-{{ block.id }}{% endif %}">
              <div class="container clearfix">

                {%- assign block_width = block.settings.block_width | downcase -%}
                {% case block_width %}
                {% when '4' %}
                {%- assign block_width = 'four' -%}
                {% when '6' %}
                {%- assign block_width = 'six' -%}
                {% when '8' %}
                {%- assign block_width = 'eight' -%}
                {% when '9' %}
                {%- assign block_width = 'nine' -%}
                {% endcase %}

                <div{% if full_width == false %}{% if block.settings.use_background_img or block.settings.background_img_overlay != blank and block.settings.background_img_overlay_opacity > 0 %} class="twelve"{% endif %}{% endif %}>
                  <div class="{% if full_width == false %}{% if block.settings.use_background_img and block.settings.background_img == blank %}placeholder-svg-background {% endif %}background-cover lazyload {% endif %}{% if block.settings.font_color %}{% if block.settings.use_background_img or block.settings.background_img_overlay != blank and block.settings.background_img_overlay_opacity > 0 %}white {% endif %}{% endif %}clearfix"
                       {% if full_width == false and block.settings.use_background_img and block.settings.background_img != blank %} 
                       data-bgset="{{ mobi_image_data | strip }}"
                       data-sizes="auto"
                       style="background:url({{ img_mobi_src | img_url: img_size }}) center center no-repeat;"
                       {% endif %}>
                    {% if full_width == false and block.settings.use_background_img and block.settings.background_img != blank %}
                    <noscript>
                      <div class="no-js-bg background-cover content-height-{{ section.id }}" style="background:url({{ img_mobi_src | img_url: '800x' }}) center center no-repeat;"></div>
                    </noscript>
                    {% endif %}                  
                    <div class="table content-height-{{ section.id }}{% if settings.animation_enable %} animate-section load{% endif %}{% if full_width == false %} relative{% endif %}{% if full_width == false %}{% if block.settings.use_background_img or block.settings.background_img_overlay != blank and block.settings.background_img_overlay_opacity > 0 %} twelve background-overlay background-overlay-{{ block.id }}{% endif %}{% endif %}">
                      {% if block.settings.link != blank and block.settings.button == blank %}<a href="{{ block.settings.link | escape }}" title="{% if block.settings.title != blank %}{{ block.settings.title | escape }}{% else %}{{ 'homepage.onboarding.no_more' | t }}{% endif %}" class="absolute"></a>{% endif %}
                      {% if section_onboarding or block.settings.title != blank or block.settings.sub_title != blank or block.settings.body != blank or block.settings.link != blank and block.settings.button != blank %}
                      <div class="table-cell">
                        <div class="{{ block_width }} mobile animate {{ block.settings.text_alignment}} {{ block.settings.content_alignment }}{% if section.blocks.size > 1 %} bottompad{% endif %}">
                          {% if section_onboarding %}
                          <h2>{{ 'homepage.onboarding.no_title' | t }}</h2>
                          <h3>{{ 'homepage.onboarding.no_body' | t }}</h3>
                          {% else %}
                          {% if block.settings.title != blank %}<h1 class="h1 {% if section.settings.use_text_shadow %}with_shadow{% endif %}">{{ block.settings.title | escape }}</h1>{% endif %}
                          {% if block.settings.sub_title != blank %}<h4 class='h3'>{{ block.settings.sub_title | escape }}</h4>{% endif %}
                          {% if block.settings.body != blank %}{{ block.settings.body }}{% endif %}
                          {% if block.settings.link != blank %}<a href="{{ block.settings.link | escape }}" title="{% if block.settings.title != blank %}{{ block.settings.title | escape }}{% else %}{{ 'homepage.onboarding.no_more' | t }}{% endif %}" class="btn{% if block.settings.outline_button %} outline{% endif %}{% if section.blocks.size == 1 %} bottompad{% endif %}">{% if block.settings.button != blank %}{{ block.settings.button | escape }}{% else %}{{ 'homepage.onboarding.no_more' | t }}{% endif %}</a>{% endif %}
                          {% endif %}
                        </div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          </div><!-- end mobile img -->
          {% endif %}
        </div>
        {% if block.settings.background_img_overlay != blank %}<style>{%- assign alpha = block.settings.background_img_overlay_opacity | times: 0.01 -%}.background-overlay-{{ block.id }}{background:{{ block.settings.background_img_overlay |  color_modify: 'alpha', alpha }};}</style>{% endif %}
        {% endfor %}
      </div>
      <div id="swiper-pagination-{{ section.id }}" class="swiper-pagination slideshow-carousel hidden">
        <div id="swiper-button-prev-{{ section.id }}" class="tabindex swiper-button-prev icon icon-chevron-left" role="button" aria-label="{{ 'products.general.previous' | t }}"></div>
        <div id="swiper-button-next-{{ section.id }}" class="tabindex swiper-button-next icon icon-chevron-right" role="button" aria-label="{{ 'products.general.next' | t }}"></div>
      </div>
    </div>

  </div>

</div>

<style>
  .content-height-{{ section.id }}{height:{{ section.settings.padding }}vh;min-height:{{ section.settings.padding }}vh}
</style>

{% schema %}
  {
    "name": "Slideshow with text",
	"max_blocks": 4,
    "settings": [
      {
        "type": "checkbox",
        "id": "auto_rotate",
        "label": "Auto-rotate slides",
        "default": false
      }, 
      {
        "type": "range",
        "id": "auto_rotate_every",
        "min": 5,
        "max": 10,
        "step": 1,
        "unit": "sec",
        "label": "Change slides every",
        "default": 5
      },
	  {
       "type": "checkbox",
       "id": "full_width",
       "label": "Full width",
       "default": true
      },
      {
        "type": "range",
        "id": "padding",
        "min": 5,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Height",
        "default": 50
      },
	  {
       "type": "checkbox",
       "id": "use_text_shadow",
       "label": "Use text shadow",
       "default": true
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
			"default": "Slideshow with text"
          },
          {
            "type": "text",
            "id": "sub_title",
            "label": "Subheading",
			"default": "Display large images and promotional text"
          },
          {
            "type": "richtext",
            "id": "body",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "button",
            "label": "Button"
          },
          {
            "type": "checkbox",
            "id": "outline_button",
            "label": "Outline button",
            "default": false
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Alignment",
            "default": "text-center",
            "options": [
              {
                "value": "text-left",
                "label": "Left"
              },
              {
                "value": "text-center",
                "label": "Center"
              },
              {
                "value": "text-right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "block_width",
            "label": "Content width",
            "default": "6",
            "options": [
              {
                "value": "4",
                "label": "33%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "8",
                "label": "66%"
              },
              {
                "value": "9",
                "label": "75%"
              }
            ]
          },
          {
            "type": "select",
            "id": "content_alignment",
            "label": "Position",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "header",
            "content": "Background"
          },
          {
            "type": "image_picker",
            "id": "background_img",
            "label": "Image",
        	"info": "1900px recommended"
          },
          {
            "type": "header",
            "content": "Mobile Image and Text Settings"
          },
		  {
            "type": "select",
            "id": "mobi_text_alignment",
            "label": "Mobile Text Alignment",
            "default": "text-center",
            "options": [
              {
                "value": "text-left",
                "label": "Left"
              },
              {
                "value": "text-center",
                "label": "Center"
              },
              {
                "value": "text-right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "mobi_content_alignment",
            "label": "Mobile Text Position",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "mobi_background_img",
            "label": "Mobile Image",
        	"info": "800px width recommended"
          },
          {
            "type": "header",
            "content": "General Slide Options"
          },
          {
            "type": "checkbox",
            "id": "use_background_img",
            "label": "Show image",
            "default": true
          }, 
          {
            "type": "checkbox",
            "id": "font_color",
            "label": "White text",
            "default": true
          },
    	  {
            "type": "color",
            "id": "background_img_overlay",
            "label": "Overlay"
          },
          {
            "type": "range",
            "id": "background_img_overlay_opacity",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "%",
            "label": "Opacity",
            "default": 0
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slideshow with text",
        "category": "Image",
        "blocks": [
          {
            "type": "slide"
          },
          {
            "type": "slide"
          },
          {
            "type": "slide"
          }
        ]
      }
    ]
  }
{% endschema %}