<div class="landing-image-with-text-08 custom_page_template">
  <section class="cmn-blackSec">
    <div class="container">
      <div class="custom_row">
        {% if section.settings.image != blank %}
        <div class="col-12 col-md-12 col-lg-3 order-lg-3">
          <img src="{{ section.settings.image | img_url: '500x' }}" width="241" alt="" class="lazyload" data-ll-status="loaded" />
        </div>
        {% endif %}
        {% if section.settings.title != blank %}
        <div class="col-12 col-md-12 col-lg-4">
          <h2>{{ section.settings.title | remove: '<p>' | remove: '</p>' }}</h2>
        </div>
        {% endif %}
        {% if section.settings.text != blank or section.settings.button_text != blank %}
        <div class="col-12 col-md-12 col-lg-5">
          {{ section.settings.text }}
          <a href="{{ section.settings.button_link }}" class="btn btn-primary">{{ section.settings.button_text }}</a>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
</div>

{% schema %}
  {
    "name": "Image with text 08",
    "settings": [
	  {
       "type": "image_picker",
       "id": "image",
       "label": "Image"
      },
      {
         "type": "richtext",
         "id": "title",
         "label": "Title"
      },
	  {
         "type": "richtext",
         "id": "text",
         "label": "Text"
      },
	  {
         "type": "text",
         "id": "button_text",
         "label": "Button text"
      },
	  {
         "type": "url",
         "id": "button_link",
         "label": "Button link"
      }
    ]
  }
{% endschema %}
