{%- assign full_width = section.settings.full_width -%}

{%- assign img_src = section.settings.background_img -%}
{% include 'image-background-src' %}
{%- assign img_size = '1x' -%}

<div class="password sticky-navigation">
  <div class="password-page">
    <div data-section-id="{{ section.id }}" 
         data-section-type="password-page" 
         class="{% if full_width %}background-cover lazyload {% endif %}{% if section.settings.bottom_pad %}bottompad-section{% endif %}"
         {% if full_width and section.settings.background_img != blank %} 
         data-bgset="{{ image_data | strip }}"
         data-sizes="auto"
         style="background:url({{ img_src | img_url: img_size }}) center center no-repeat;"
         {% endif %}>
      {% if full_width and section.settings.background_img != blank %}
      <noscript>
        <div class="no-js-bg background-cover content-height-{{ section.id }}" style="background:url({{ img_src | img_url: '1900x' }}) center center no-repeat;"></div>
      </noscript>
      {% endif %}
      
      <div{% if full_width and section.settings.background_img != blank %} class="background-overlay background-overlay-{{ section.id }}"{% endif %}>
        <div class="container relative clearfix">
          <div class="{% unless full_width %}{% if section.settings.background_img != blank %}twelve{% endif %}{% endunless %}">
            <div class="{% if full_width == false %}background-cover lazyload {% endif %}{% if section.settings.font_color and section.settings.background_img != blank %}white {% endif %}clearfix"
                 {% if full_width == false and section.settings.background_img != blank %} 
                 data-bgset="{{ image_data | strip }}"
                 data-sizes="auto"
                 style="background:url({{ img_src | img_url: img_size }}) center center no-repeat;"
                 {% endif %}>
              {% if full_width == false and section.settings.background_img != blank %}
              <noscript>
                <div class="no-js-bg background-cover content-height-{{ section.id }}" style="background:url({{ img_src | img_url: '1200x' }}) center center no-repeat;"></div>
              </noscript>
              {% endif %}

              <div class="table content-height-{{ section.id }} {% if full_width == false and section.settings.background_img != blank %}{% if section.settings.background_img != blank %}twelve {% endif %}background-overlay background-overlay-{{ section.id }}{% endif %}">
                <div class="table-cell"> 
                  <div class="eight text-center center">
                    {% if section.settings.logo %}
                    <div class="logo bottompad">
                      {%- capture image_size -%}{{ section.settings.logo_max_width }}x{%- endcapture -%}
                      <img src="{{ section.settings.logo | img_url: image_size }}"
                           srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                           alt="{% if section.settings.logo.alt != blank %}{{ section.settings.logo.alt }}{% else %}{{ shop.name }}{% endif %}">
                    </div>
                    {% else %}
                    <h1>{{ shop.name }}</h1>
                    {% endif %}
                    {% if section.settings.sub_title != blank %}<h4>{{ section.settings.sub_title | escape }}</h4>{% endif %}
                    {% if shop.password_message != blank %}
                    <p>{{ shop.password_message }}</p>
                    {% else %}
                    {% endif %}
                    {% if section.settings.include_newsletter %}{% include 'newsletter' %}{% endif %}
                    {% if section.settings.include_social != 'none' %}
                    <div class="center center-table{% if section.settings.font_color and section.settings.background_img != blank %} white{% endif %}">
                      {% if section.settings.include_social == 'follow' %}
                      {% include 'social-follow' %}
                      {% elsif section.settings.include_social == 'share' %}
                      {% include 'social-share' %}
                      {% endif %}
                    </div>
                    {% endif %}                    
                    <p class="bottompad-half"><small>{{ powered_by_link }}</small></p> 
                  </div> 
                </div>
              </div>

            </div>
            
            <div class="password-links{% if section.settings.padding == 100 %} full{% endif %}">
              <a data-fancybox data-src="#access" href="javascript:void(0)" title="{{ 'general.password.access' | t }}">{{ 'general.password.access' | t }}</a><span class="separator" aria-hidden="true"></span><a data-fancybox data-src="#store-owner" href="javascript:void(0)" title="{{ 'general.password.owner' | t }}">{{ 'general.password.owner' | t }}</a>
              <div class="hidden" id="access">                
                <div>
                  <div class="table-center text-center">
                    <div class="six">
                      <h3>{{ 'general.password.password_msg' | t }}</h3>
                      {% form 'storefront_password' %}
                      {{ form.errors | default_errors }}
                      <span class="form">
                        <input type="password" name="password" id="password" class="text-center" placeholder="{{ 'general.password.password_placeholder' | t }}" autofocus />
                      </span>
                      <span class="text-center form"><input class="btn advanced btn auto-full-width" name="commit" type="submit" value="{{ 'general.password.enter' | t }}" /></span>
                      {% endform %}
                    </div>
                  </div>
                </div>
                <div class="hidden" id="store-owner">
                  <div>
                    <div class="table-center text-center">
                      <div class="six">
                        <h3>{{ 'general.password.store_owner' | t }}</h3>
                        <p><a href="/admin">{{ 'general.password.log_in' | t }}</a><span class="separator" aria-hidden="true"></span><a href="/admin/online_store/preferences?tutorial=unlock">{{ 'general.password.password' | t }}</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
<style>  
  .content-height-{{ section.id }}{height:{{ section.settings.padding }}vh;min-height:{{ section.settings.padding }}vh}
  {% if section.settings.background_img_overlay != blank %}{%- assign alpha = section.settings.background_img_overlay_opacity | times: 0.01 -%}.background-overlay-{{ section.id }}{background:{{ section.settings.background_img_overlay |  color_modify: 'alpha', alpha }};}{% endif %}
</style>

{% schema %}
  {
    "name": "Password page",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 100,
        "max": 350,
        "step": 10,
        "unit": "px",
        "label": "Max logo width",
        "default": 160
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "Subheading",
        "default": "Will be opening soon..."
      },
      {
        "type": "checkbox",
        "id": "include_newsletter",
        "label": "Show newsletter",
        "default": true
      },
      {
        "type": "select",
		"id": "include_social",
        "label": "Show social buttons",
        "info": "ID's can be added under Theme settings > Social media",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "share",
            "label": "Share"
          },
          {
            "value": "follow",
            "label": "Follow"
          }
        ]
      },
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "image_picker",
        "id": "background_img",
        "label": "Background image",
        "info": "1900px recommended"
      },
      {
        "type": "checkbox",
        "id": "font_color",
        "label": "White text",
        "default": true
      },
      {
       "type": "checkbox",
       "id": "full_width",
       "label": "Full width",
       "default": true
      },
      {
        "type": "range",
        "id": "padding",
        "min": 5,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Height",
        "default": 50
      },
	  {
        "type": "color",
        "id": "background_img_overlay",
        "label": "Overlay"
      },
      {
        "type": "range",
        "id": "background_img_overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Opacity",
        "default": 0
      }
    ]
  }
{% endschema %}