<div class="container page bottompad-section clearfix">
  <div class="twelve">
    
<!-- BEGIN CODE HERE -->    
<div class="wrap-page">
	<div class="wrap-header">
		<div class="header-logo">
			<img src="" />
		</div>
		<div class="header-heading-graphic">
			<img src="{{ 'Where-Dog-Dreams-Come-True.png' | asset_url }}" />
		</div>
		<div class="header-family-made">
			<img src="{{ 'text2.png' | asset_url }}" />
		</div>
		<div class="header-product">
			<img src="{{ 'Redbarn_Kibble_Whole_Line_TransparentBG.png' | asset_url }}" />
		</div>
	</div>
	<div class="wrap-why">
		<div class="wrap-header">
			Why Redbarn?
		</div>
		<div class="wrap-features">
			<div class="a-feature">
				<div class="feature-icon">
					<img src="{{ 'opt_icon1.png' | asset_url }}" />
				</div>
				<div class="feature-title">
					First Five Ingredients 
				</div>
				<div class="feature-text">
					Your dog loves meat! That's why all our dry food recipes start with five high-quality meats, fish, or poultry.
				</div>
			</div>
			<div class="a-feature">
				<div class="feature-icon">
					<img src="{{ 'opt_icon2.png' | asset_url }}" />
				</div>
				<div class="feature-title">
					No Artificial Ingredients
				</div>
				<div class="feature-text">
					Our products are sourced from all natural proteins and are free from artificial chemicals and preservatives.
				</div>
			</div>
			<div class="a-feature">
				<div class="feature-icon">
					<img src="{{ 'opt_icon3.png' | asset_url }}" />
				</div>
				<div class="feature-title">
					Our Redbarn Promise
				</div>
				<div class="feature-text">
					When you choose Redbarn, you can be confident that you are giving your pet a safe, wholesome product. 
				</div>
			</div>
		</div>
		<div class="wrap-quiz">
          <span class="bold-black">Not sure what's right for your dog?</span> <a href="/pages/product-quiz"><span class="bold-red">Take our product quiz.</span></a>
		</div>
	</div>
	<div class="wrap-store-locator" id="wrap-store-locator-section">
		<div class="store-locator-title">
			Find the Seattle pet store nearest you.
		</div>
		<div class="store-locator-code">
			<!-- Start Stockist.co widget -->
			<div data-stockist-widget-tag="u7521">Loading store locator
			from <a href="https://stockist.co">Stockist store locator</a>...</div>
			<script>
			  (function(s,t,o,c,k){c=s.createElement(t);c.src=o;c.async=1;
			  k=s.getElementsByTagName(t)[0];k.parentNode.insertBefore(c,k);
			  })(document,'script','//stockist.co/embed/v1/widget.min.js');
			</script>
			<!-- End Stockist.co widget -->
		</div>
		<div class="show-more">
			<button>Show More</button>
		</div>
	</div>
	<div class="wrap-koda">
		<div class="koda-content">
			<div class="koda-header">
				MEET KODA
			</div>
          <br>
			<div class="koda-text">
				<p>Koda is a dog from Seattle who's been a Redbarn ambassador for quite some time. 
					So, to thank him and his human Briana we decided to surprise them both with his 
					dream come true - a giant supply of his favorite Redbarn kibble and 
					the ultimate digging pit. </p>
				<p>See how we turned a field in Seattle into Koda's personal slice of paradise. </p>
			</div>
		</div>
		<div class="koda-video">
			<script src="https://fast.wistia.com/embed/medias/kvjf7v8jol.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_kvjf7v8jol seo=false videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/kvjf7v8jol/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
		</div>
	</div>
	<div class="wrap-sticky-buttons" id="daSticky">
		<div class="wrap-buttons">
			<div class="a-button">
				<a href="/collections/kibble-dog-food">
					<span class="button-icon">
						<img src="{{ 'shop-icon.gif' | asset_url }}" />
					</span>
					<span class="button-text">
						Shop Now
					</span>
				</a>
			</div>
			<div class="a-button">
				<a href="#wrap-store-locator-section">
					<span class="button-icon">
						<img src="{{ 'store-icon.gif' | asset_url }}" />
					</span>
					<span class="button-text">
						Store Locator
					</span>
				</a>
			</div>
		</div>
	</div>
</div>

<style>
    .wrap-sticky-buttons .a-button a {
        display: flex;
        align-items: center;
    }
	.wrap-page {
		background-image:url({{ 'repeating-pattern2.jpg' | asset_url }});
		font-family: ClarendonBTWXX-Roman;
	}
	.header-family-made {
		width: 100%;
		margin: 0px auto;
		max-width: 430px;
	}
	.wrap-why {
		background-color:#fff;
		padding:50px 70px;
      	margin: 0px 91px;
	}
	.wrap-why .wrap-header {
		color:#b72426;
		font-size:38px;
		font-weight:bold;
		text-align:center;
		text-transform:uppercase;
		margin:50px 0px;
	}
	.wrap-why .bold-red {
		color:#b72426;
	}
	.wrap-why .wrap-features {
		display:flex;
	}
	.wrap-why .wrap-features .a-feature {
		margin-right:30px;
	}
	.wrap-why .wrap-features .a-feature .feature-icon {
		width:15%;
      	display:inline-block;
      	margin-right: 2%;
	}
	.wrap-why .wrap-features .a-feature .feature-icon img {
		margin-bottom:-3px;
	}
	.wrap-why .wrap-features .a-feature .feature-title {
		font-weight:bold;
		font-size:22px;
      	width:58%;
      	display:inline-block;
	}
	.wrap-why .wrap-features .a-feature .feature-text {
		padding-top:12px;
	}
	.wrap-why .wrap-features .a-feature:last-child {
		margin-right:0px;
	}
	.wrap-why .wrap-quiz {
		font-size:28px;
		text-align: center;
		margin:50px 0px;
		font-weight:bold;
	}
	.wrap-why .wrap-quiz .bold-red {
		color:#b72426;
	}
	.wrap-koda {
		color:#fff;
		padding:120px 0px;
		width: 67%;
    	margin: 0px auto;
		display:flex;
	}
	.wrap-koda .koda-header {
        text-transform: uppercase;
        font-size: 42px;
        line-height: 1.5;
	}
  	.wrap-koda .koda-content {
  		flex: 0 35%;
  	}
  	.wrap-koda .koda-video {
  		flex: 0 65%;
  	}
  	.wrap-koda .koda-content {
      padding-right: 47px;
    }
	.wrap-sticky-buttons {
		/*border:solid 1px red;*/
		background-color:#fff;
		width:152px;
		height:auto;
		position:fixed;
		top:40%;
		right:-3px;
		transition: right 2s;
		border-radius: 6%;
		padding:10px;
	}
	.store-locator-title {
		color:#fff;
		text-align: center;
		font-weight:bold;
		font-size:26px;
		margin:50px 0px;
	}
	.store-locator-code {
		width: 80%;
		margin: 0px auto;
	}
    #stockist-widget {
        padding: 18px;
    }
	.store-locator-code #stockist-widget {
		background-color:#fff;
	}
	.wrap-sticky-buttons {
		font-family: sans-serif;
		font-size:14px;
		font-weight:bold;
		box-shadow: 0px 0px 18px rgba(255,0,0,0.3);
	}
	.wrap-sticky-buttons a {
		color:#000;
		text-decoration:none;
	}
	.wrap-store-locator .show-more {
		display:none;
	}
    @media only screen and (min-width: 601px) {
      .container {
          max-width: 100%;
      }
    }
	@media only screen and (max-width: 600px) {
		.container, .twelve {
			padding: 0px;
		}
		.wrap-why .wrap-header {
			text-transform: capitalize;
		}
		.wrap-why .wrap-features {
			display: flex;
			flex-direction: column;
		}
		.wrap-why .wrap-features .a-feature {
			margin-right: 0px;
			text-align:center;
			margin:30px 0px;
		}
        .wrap-why .wrap-features .a-feature .feature-icon,
      	.wrap-why .wrap-features .a-feature .feature-title {
            display: block;
          	text-align:center;
          	width:100%;
        }
        .wrap-why .wrap-features .a-feature .feature-icon {
			width: 22%;
    		margin: 6px auto;
        }
		.wrap-koda {
			text-align: center;
			width: 80%;
		}
        .wrap-koda .koda-content {
          padding-right: 0px;
        }
        .wrap-why {
            padding: 50px 5%;
            margin: 0px;
        }
		.store-locator-code {
			width: 100%;
			height:700px;
			overflow: hidden;
		}
		.wrap-store-locator .show-more  {
			width:100%;
			padding:30px 0px;
			background-color:#fff;
			color:#fff;
			display:block;
			text-align: center;
		}
		.wrap-store-locator .show-more button {
			width:94%;
			margin:0px auto;
			padding:17px 0px;
			background-color:#b72426;
			color:#fff;
			text-transform:uppercase;
			font-family: sans-serif;
			font-size: 14px;
			border-radius:50px;
		}
        .wrap-koda {
            display: unset;
        }
		.wrap-sticky-buttons {
			background-color: #fff;
			width: 90%;
			height: 60px;
			position: fixed;
			top: unset;
			bottom: 0px;
			right: 5%;
			border-radius: 10px;
			padding: 10px;
			border: solid 4px #fff;
			box-shadow:unset;
		}
		.wrap-sticky-buttons .wrap-buttons {
			display: flex;
			justify-content: space-around;
		}
		button.needsclick {
			display:none;
		}
    }
</style>
<script>
	document.getElementById("daSticky").addEventListener("click", slideOut);
    document.getElementById("daSticky").addEventListener("mouseover", slideOut);
    document.getElementById("daSticky").addEventListener("mouseout", slideIn);
	
	function slideOut() {
	  //alert("qwweert");
	  document.getElementById("daSticky").style.right = "-3px";
	}
	function slideIn() {
	  document.getElementById("daSticky").style.right = "-3px";
	}
</script>
<!-- END CODE HERE -->
    
    
    {%comment%}
    <h1>{{ page.title }}</h1>
    {% include "breadcrumbs" %}  
    {{ page.content }}
    {%endcomment%}
  </div>
</div>